name: "Release"
on:
  push:
    tags:
      - "*"

jobs:
  luarocks-release:
    runs-on: ubuntu-latest
    name: LuaRocks upload
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Fail if changelog entry does not exist
        run: grep -q "${{ github.ref_name }}" CHANGELOG.md
      - name: LuaRocks Upload
        uses: nvim-neorocks/luarocks-tag-release@v7
        env:
          LUAROCKS_API_KEY: ${{ secrets.LUAROCKS_API_KEY }}
        with:
          dependencies: |
            telescope.nvim
          detailed_description: |
            Manix is a fast documentation searcher for nix.
            This plugin provides a telescope.nvim extension for manix.
      - name: GitHub Release
        uses: ncipollo/release-action@v1
        with:
          bodyFile: "CHANGELOG.md"
          allowUpdates: true

